<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/" method="post">
  <label>First Test</label>
  <input type="checkbox" name="test" value="first">
  <label>Second Test</label>
  <input type="checkbox" name="test" value="second">
  <input type="submit" name="" value="Submit Form">
</form>
